<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">
    <bean id="config" class="app.mycmd.HireHelper.repository.DatabaseConnector">
        <property name="dbname" value="hirehelper"/>
        <property name="username" value="admin_hirehelper"/>
        <property name="password" value="admbcl3823"/>
    </bean>
</beans>
